@use 'reset';
@use 'variables' as *;
//@use '_mixins' as *;
@use 'navbar';
@use 'productsPage';
@use 'deleteButton';


body {
  background-color: $bacground-color;

  h1,
  h2,
  h3,
  h4 {
    color: $header-color;
    font-family: 'Merriweather', serif;
    font-weight: 800;
  }

  h2 {
    font-size: 60px;

    @media (max-width: 780px) {
      font-size: 40px;
    }
  }

  h3 {
    font-size: 28px;

    @media (max-width: 780px) {
      font-size: 24px;
    }
  }

  h4 {
    font-size: 24px;

    @media (max-width: 1260px) {
      font-size: 20px;
    }
  }

  a,
  p {
    font-size: $p-size;

    color: $text-color;
  }
}


button {
  margin: 10px;
  padding: 10px;
  border: 1px $dark solid;
  border-radius: 10px;
}
